{% extends "front/base.html" %}
{% block title %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='front/css/index.css') }}">
    <style>
        /* 简单的样式来显示弹窗 */
        .confirm-delete {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .confirm-box {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="post-group">
        <ul class="post-list-group">
            {% for post in posts %}
                <li>
                    <div class="author-avatar-group">
                        <img src="{{ url_for('media.get_avatar', filename=post.author.avatar) }}" alt="">
                    </div>
                    <div class="post-info-group">
                        <p class="post-title">
                            <a href="{{ url_for('front.post_detail', post_id=post.id) }}">{{ post.title }}</a>
                        </p>
                        <p class="post-info">
                            <span>作者：{{ post.author.username }}</span>
                            <span>发表时间：{{ post.create_time }}</span>
                            <span>评论:{{ post.comments|length }}</span>
                            <span>收藏：{{ post.collects_count }}</span>
                            <a href="#" class="delete-post-btn"
                               onclick="return confirmDelete(event, {{ post.id }})">删除</a>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div style="text-align: center;">
            {{ pagination.links }}
        </div>
    </div>

    <!-- 确认删除弹窗 -->
    <div class="confirm-delete" id="confirmDeleteModal">
        <div class="confirm-box">
            <p>确定要删除这篇文章吗？</p>
            <button onclick="deletePost()">确认</button>
            <button onclick="closeModal()">取消</button>
        </div>
    </div>

    <script>
        let postIdToDelete;
        function confirmDelete(event, id) {
            event.preventDefault(); // 阻止默认的链接跳转行为
            postIdToDelete = id;
            document.getElementById('confirmDeleteModal').style.display = 'flex';
        }

        function deletePost() {
            zlajax.post({
                url: "/post/delete",
                data: { "id": postIdToDelete },
                success: function (result) {
                    if (result['code'] == 200) {
                        window.location.reload();
                    } else {
                        alert(result['message']);
                    }
                }
            })
            closeModal();
        }

        function closeModal() {
            document.getElementById('confirmDeleteModal').style.display = 'none';
        }
    </script>
{% endblock %}
